[init]
    defaultBranch = main
[alias]
    a  = "!git status --short | peco | awk '{print $2}' | xargs git add"
    al = add .
    d  = "!git status --short | peco | awk '{print $2}' | xargs git diff"
    rs = "!git status --short | peco | awk '{print $2}' | xargs git restore"
    sw = "!git branch | peco | xargs git switch"
    co = "!git log --oneline | peco | awk '{print $1}' | xargs git checkout"
    br = branch
    ba = branch -a
    l = log --oneline
    cl = clone
    st = status
    fh = fetch
    pl = pull
    ps = push
    pu = push -u origin HEAD
    sh = stash
    sc = switch -c
    ds = diff --staged
    sm = submodule
    cc = cz c
    rb = rebase
    rbc = rebase --continue
[user]
    name = muro-yuta24-fixer
    email = muro.yuta24@fixer.co.jp
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[pull]
    ff = only
[core]
    editor = nvim

[ghq]
    root = "~/Development"
