[init]
    defaultBranch = main
[alias]
    ; sw = "!git branch | peco | xargs git switch"
    sw = switch
    co = "!git log --oneline | peco | awk '{print $1}' | xargs git checkout"
    ao = "!git status --short | peco | awk '{print $2}' | xargs git add"
    do = "!git status --short | peco | awk '{print $2}' | xargs git diff"
    a = add
    al = add --all
    r = restore
    rs = restore --staged
    l = log --oneline
    br = branch
    ba = branch -a
    cl = clone
    st = status
    fh = fetch
    pl = pull
    ps = push
    pu = push -u origin HEAD
    sh = stash
    sc = switch -c
    ds = diff --staged
    sm = submodule
    cm = commit
    rb = rebase
    rbc = rebase --continue
[user]
    name = muro-yuta24-fixer
    email = muro.yuta24@fixer.co.jp
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[pull]
    ff = only
[core]
    editor = nvim

[ghq]
    root = "~/Development"
