/config/config/btop/btop.log
/config/config/fish/conf.d
/config/config/fish/fish_variables
/config/config/gh/hosts.yml
/config/config/herdr/herdr-client.log
/config/config/herdr/herdr-server.log
/config/config/herdr/release-notes.json
/config/config/herdr/session.json
