[init]
	defaultBranch = main
[alias]
    d = diff
    co = checkout
    cm = commit
    br = branch
    ba = branch -a
    a = add
    l = log
    rs = restore
    cl = clone
    st = status
    pl = pull
    ps = push
	pu = push -u origin HEAD
    sh = stash
    sw = switch
	sc = switch -c
    ds = diff --staged
    sm = submodule
    cc = cz c
[user]
	name = muro-yuta24-fixer
	email = muro.yuta24@fixer.co.jp
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[pull]
	ff = only
[core]
	editor = nvim

[ghq]
    root = "~/Development"
